In [1]:
from src.models.liquidity_distribution import LiquidityAnalyzer
from datetime import date
import math
from src.data_processing.fetch_data import fetch_oku_liquidity
from src.models.liquidity_distribution import LiquidityDistribution, Pool
from src.utils.helper import organize_tick_data, tick_to_price

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
POOL_ADDRESS = "0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8"
START_DATE = date(2024, 8, 1)
END_DATE = date(2024, 8, 31)

In [4]:
data = fetch_oku_liquidity(pool_address=POOL_ADDRESS, block_number=20530985)

In [57]:
analyzer = LiquidityAnalyzer(
    pool_address=POOL_ADDRESS,
    token0="WETH",
    token1="USDC",
    decimals0=data['token0_decimals'],
    decimals1=data['token1_decimals'],
    sqrt_price_x96=1000,
    tick_spacing=60,
    start_date=START_DATE,
    end_date=END_DATE
)
current_tick = int(data["current_pool_tick"])
pool = Pool(token0="WETH",
            token1="USDC",
            decimals0=data['token0_decimals'],
            decimals1=data['token1_decimals'],
            tick_spacing=data['tick_spacing'])
            # sqrt_price_x96=data["sqrt_price_x96"])

In [58]:
df, total_amount0, total_amount1 = analyzer.analyze_liquidity(20530985)

In [59]:
current_tick = int(data["current_pool_tick"])
active_tick = (
    math.floor(current_tick / pool.tick_spacing) * pool.tick_spacing
)

In [60]:
df.loc[df['tick']==active_tick]

,tick,liquidity,price,amount0,amount1,amount0_real,amount1_real
18078,197460,-136571707,2659.80569,2.206822e+11,3.024011e+19,220682.172673,30.240112

In [75]:
sb = active_tick-pool.tick_spacing*10
sa = active_tick+pool.tick_spacing*10

In [76]:
df.loc[(df['tick']>sb)&(df['tick']<sa)]

,tick,liquidity,price,amount0,amount1,amount0_real,amount1_real
18069,196920,782173503,2807.376371,2.844191e+11,1.016157e+20,284419.091220,101.615726
18070,196980,-1893924445,2790.583382,2.832648e+11,1.018123e+20,283264.775244,101.812332
18071,197040,1224154400,2773.890844,2.811321e+11,1.016539e+20,281132.104053,101.653865
18072,197100,548045357,2757.298156,2.864797e+11,1.042108e+20,286479.664887,104.210838
18073,197160,-98970833,2740.804721,2.816435e+11,1.030681e+20,281643.454263,103.068128
18074,197220,371039804,2724.409946,2.806075e+11,1.033070e+20,280607.496541,103.306972
18075,197280,838383179,2708.113240,2.800602e+11,1.037259e+20,280060.178328,103.725935
18076,197340,678910670,2691.914017,2.786160e+11,1.038120e+20,278616.005753,103.812033
18077,197400,71904406,2675.811694,3.019162e+11,1.131706e+20,301916.156084,113.170602
18078,197460,-136571707,2659.805690,2.206822e+11,3.024011e+19,220682.172673,30.240112
18079,197520,919169994,2643.895430,2.995417e+11,1.136360e+20,299541.664709,113.635959
18080,197580,1178477316,2628.080340,2.664488e+11,1.016899e+20,266448.836999,101.689944
18081,197640,-1611127793,2612.359853,2.656516e+11,1.019958e+20,265651.625932,101.995802
18082,197700,1747751690,2596.733401,2.627816e+11,1.015010e+20,262781.614424,101.501026
18083,197760,2071713078,2581.200423,2.641185e+11,1.026313e+20,264118.489084,102.631315
18084,197820,2070367983,2565.760359,2.614731e+11,1.022148e+20,261473.070310,102.214779
18085,197880,-1878772329,2550.412654,2.603276e+11,1.023794e+20,260327.641932,102.379416
18086,197940,1888933312,2535.156754,2.378223e+11,9.409154e+19,237822.300296,94.091540
18087,198000,-1779604662,2519.992111,2.334803e+11,9.292954e+19,233480.262161,92.929545